/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TigrisEuphrates implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * tigriseuphrates.css
 *
 * TigrisEuphrates stylesheet
 *
 */

/**
 * Overide wiki styling
 */
.wikicontent table td {
    padding: 0px;
    text-align: left;
}

.wikicontent table th {
    padding: 0px;
    text-align: left;
}

.wikicontent ul li {
   list-style-type: disc; 
   list-style-position: inside; 
}

#my_game_area {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.tae_possible_space {
    background-color: rgba(3, 132, 226, 0.24);
    cursor: pointer;
}

#my_side_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#board {
    width: 740px;
    height: 539px;
    position: relative;
    background-size: 740px;
}

#overlay {
    width:  740px;
    height:  539px;
    position: absolute;
    background-size: 740px;
}

.log .point {
    display: inline-block;
}

.hide_overlay #overlay {
    display: none;
}

.show_overlay #overlay {
    background-image: url('img/coordinate_overlay.png');
}

.standard_board {
    background-image: url('img/board.jpg');
}

.alt_board {
    background-image: url('img/alt_board.jpg');
}

.high_saturation .tile_red { filter: saturate(2.0); }
.high_saturation .tile_blue { filter: saturate(2.0); }
.high_saturation .tile_catastrophe { filter: saturate(2.0); }
.high_saturation .tile_green { filter: saturate(2.0); }
.high_saturation .mini_tile_red { filter: saturate(2.0); }
.high_saturation .mini_tile_blue { filter: saturate(2.0); }
.high_saturation .mini_tile_catastrophe { filter: saturate(2.0); }
.high_saturation .mini_tile_green { filter: saturate(2.0); }

#support {
    width: 80%;
}

#board_center {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hand {
    display: flex;
    justify-content: space-evenly;
}


#hand_leaders {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
}

#hand_catastrophes {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
}

#hand_tiles {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
}

.tae_possible_move {
    border: 2px solid blue;
    cursor: pointer;
}

#hand_catastrophes .mini_tile {
    box-shadow: 3px 3px 5px black;
    margin: 3px;
}

#hand_tiles .mini_tile {
    box-shadow: 3px 3px 5px black;
    margin: 3px;
}

#hand_leaders .mini_leader_token {
    margin: 3px;
}

.show_leader_circles #hand_leaders .mini_leader_token {
    box-shadow: 3px 3px 5px black;
}

.points {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#unbuilt_monuments .mini_monument {
    margin: 3px;
}

.my_player_status {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.conflict_status {
    display: flex;
    flex-direction: column;
    background-image: url('img/styled_background.jpg');
    background-size: 100% 100%;
    padding: 33px;
    font-family: Papyrus, fantasy;
}

.conflict_sides {
    display: flex;
    justify-content: space-between;
}

.side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.winner {
    background-color: #0080006e;
}

.loser {
    background-color: #ff00006e;
}

.defender {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board_support {
    display: flex;
    flex-wrap: wrap;
}

.hand_support {
    display: flex;
    flex-wrap: wrap;
}

.side_name {
    display: flex;
    justify-content: space-evenly;
}

.flexy {
    display: flex;
}

.hidden {
    display: none !important;
}

#size_buttons {
    display: flex;
}

#size_buttons .toggle_button {
    padding: 2px;
}

.toggle_button {
    padding: 5px;
    border: 3px outset #9e6464;
    border-radius: 10px;
    background: #ebd5bd;
}

.toggle_button:hover {
    background: #fed3a4;
}

.toggle_button:active {
    background: #b89c7e;
}

.point {
    width: 15px;
    height: 15px;
    box-shadow: 1px 1px 2px black;
}

#unbuilt_monuments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.monument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.monument_lower {
    background-image: url("img/monuments.png");
    height: 50px;
    width: 50px;
    background-size: 300px;
}

.mini_monument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_monument_lower {
    background-image: url("img/monuments.png");
    height: 50px;
    width: 50px;
    background-size: 300px;
    display: flex;
    justify-content: center;
}

.monument_wonder_wonder {
    background-image: url("img/wonder_tile.png");
    background-size: 165px;
    width: 100%;
    height: 100%;
}

.monument_green_red { 
    background-position: -0px; 
}
.monument_red_blue { 
    background-position: -50px; 
}
.monument_blue_green { 
    background-position: -100px; 
}
.monument_black_green { 
    background-position: -150px; 
}
.monument_black_red { 
    background-position: -200px; 
}
.monument_black_blue { 
    background-position: -250px; 
}

.playerbox {
    width: 720px;
}

.building_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.building {
    background-image: url("img/civilization_buildings.png");
    background-size: 200px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px white);
}

.building_black {
   background-position: -0px; 
}

.building_green {
   background-position: -50px; 
}

.building_red {
   background-position: -100px; 
}

.building_blue {
   background-position: -150px; 
}

.rotate_top_left { transform: rotate(180deg); }
.rotate_top_right { transform: rotate(-90deg); }
.rotate_bottom_left { transform: rotate(90deg); }
.invisible { background-image: none; }

.red_point { background-color: red; }
.black_point { background-color: #3D403F; }
.green_point { background-color: green; }
.blue_point { background-color: #3090df; }
.treasure_point { background-color: yellow; }

.selected {
    height: 80;
    width: 80;
    border: 2px red solid;
}

.space {
    width: 45px;
    height: 45px;
    position:  absolute;
    display: none;
}

.tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
}

.mini_tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 301px;
}

.mini_tile_flipped { background-position: -0 0px; }
.mini_tile_black { background-position: -43px 0px; order: 1}
.mini_tile_catastrophe { background-position: -86px 0px; order: -1}
.mini_tile_green { background-position: -128px 0px; order: 2}
.mini_tile_red { background-position: -172px 0px; order: 3}
.mini_tile_union { background-position: -215px 0px; order: 4}
.mini_tile_blue { background-position: -258px 0px; order: 5}

.leader_token {
    width: 41px;
    height: 41px;
    order: -1;
    border-radius: 50%;
}

.show_leader_circles .leader_token {
    background-color: white;
    box-shadow: 1px 1px 2px black;
}

.leader {
    background-image: url('img/leaders.png');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
}

.mini_leader_token {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    order: -2;
}

.show_leader_circles .mini_leader_token {
    background-color: white;
}

.mini_leader {
    background-image: url('img/leaders.png');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 172px;
    align-self: center;
    justify-self: center;
}

.mini_leader_bow { background-position: 0px 0px; }
.mini_leader_bull { background-position: -43px 0px; }
.mini_leader_lion { background-position: -86px 0px; }
.mini_leader_urn { background-position: -128px 0px; }

.leader_black { filter: invert(24%) sepia(6%) saturate(289%) hue-rotate(71deg) brightness(92%) contrast(90%) drop-shadow(0px 0px 2px white); }
.leader_red { filter: invert(45%) sepia(49%) saturate(7497%) hue-rotate(352deg) brightness(99%) contrast(105%) drop-shadow(0px 0px 2px white); }
.leader_green { filter: invert(44%) sepia(75%) saturate(364%) hue-rotate(71deg) brightness(93%) contrast(87%) drop-shadow(0px 0px 2px white); }
.leader_blue { filter: invert(50%) sepia(80%) saturate(449%) hue-rotate(166deg) brightness(86%) contrast(104%) drop-shadow(0px 0px 2px white); }
.show_leader_circles .leader_black { filter: invert(24%) sepia(6%) saturate(289%) hue-rotate(71deg) brightness(92%) contrast(90%); }
.show_leader_circles .leader_red { filter: invert(45%) sepia(49%) saturate(7497%) hue-rotate(352deg) brightness(99%) contrast(105%); }
.show_leader_circles .leader_green { filter: invert(44%) sepia(75%) saturate(364%) hue-rotate(71deg) brightness(93%) contrast(87%); }
.show_leader_circles .leader_blue { filter: invert(50%) sepia(80%) saturate(449%) hue-rotate(166deg) brightness(86%) contrast(104%); }

.treasure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.treasure_inner {
    background-color: yellow;
    width: 15px;
    height: 15px;
    box-shadow: 3px 3px 5px black;
}

.leader_strength {
    color: black;
    position: absolute;
    top: 0px;
    min-width: 1em;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 2px #FFFFFF99;
}

.show_leader_circles .leader_strength {
    text-shadow: unset;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.leader_strength_red { color: red; }
.leader_strength_black { color: #3D403F; text-shadow: unset; }
.leader_strength_green { color: green; }
.leader_strength_blue { color: #3090df; }


.hide_strength .leader_strength {
    display: none;
}

.kingdom {
    opacity: 0.50;
    position: absolute;
}

.hide_kingdoms #kingdoms {
    display: none;
}

.kingdom_1 { background-color: plum; }
.kingdom_2 { background-color: white; }
.kingdom_3 { background-color: limegreen; }
.kingdom_4 { background-color: orange; }
.kingdom_5 { background-color: cyan; }
.kingdom_6 { background-color: green; }
.kingdom_7 { background-color: salmon; }
.kingdom_8 { background-color: purple; }
.kingdom_9 { background-color: tan; }
.kingdom_10 { background-color: blue; }
.kingdom_11 { background-color: brown; }
.kingdom_12 { background-color: yellow; }
.kingdom_13 { background-color: magenta; }
.kingdom_14 { background-color: black; }
.kingdom_15 { background-color: orangered; }
.kingdom_16 { background-color: midnightblue; }

#tae_progress_back {
    height: 2em;
    margin: 5px;
    background-color: #c20303;
    border: 1px solid black;
}

#tae_progress_bar {
    height: 100%;
    background-color: green;
    width: 100%;
}

#tae_progress_percent {
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: .5em;
}

#toggle_kingdoms {
    flex: 1 1 auto;
    width: 100%;
}

#bag_progress {
    flex: 1 1 auto;
}

#my_game_area {
    flex-wrap: wrap;
}

.mobile_version #toggle_kingdoms {
    flex: 0 1 auto;
    width: auto;
}

.mobile_version #bag_progress {
    flex: 1 0 auto;
}

.mobile_version #size_buttons {
    display: none;
}

.mobile_version #my_side_bar {
    flex-direction: row;
}


@media screen and (min-width: 1300px){

    #board {
        order: 2;
    }

    #support {
        order: 1;
        width: 80%;
        max-width: 720px;
    }

    #handbox {
        order: 3;
        /*flex: 1 1 auto;*/
    }

    #monumentbox {
        order: 4;
        flex-direction: column;
    }

    #hand {
        flex-direction: column;
        width: 140px;
        height: 100%;
    }

    #unbuilt_monuments {
        flex: 0 2 0;
    }


    .playerbox {
        /*flex: 1 1 150px;*/
        width: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hand_leaders {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1 1 auto;
        margin-bottom: 1em;
    }

    #hand_tiles {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1 2 auto;
    }

    #hand_catastrophes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1 2 auto;
        margin-bottom: 1em;
    }
}
