/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TigrisEuphrates implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * tigriseuphrates.css
 *
 * TigrisEuphrates stylesheet
 *
 */

/**
 * Overide wiki styling
 */
.wikicontent table td {
    padding: 0px;
    text-align: left;
}

.wikicontent table th {
    padding: 0px;
    text-align: left;
}

.wikicontent ul li {
   list-style-type: disc; 
   list-style-position: inside; 
}

.whiteblock {
    padding: 0;
}

#my_game_area {
    width: 100%;
    display: grid;
    grid: [row1-start] "hand" [row1-end]
          [row2-start] "conflict" [row2-end]
          [row3-start] "board" [row3-end]
          [row4-start] "monuments" [row4-end]
          / auto auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px 10px;
}

.tae_possible_space {
    background-color: rgba(3, 132, 226, 0.24);
    cursor: pointer;
}

#my_side_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#board {
    width: 740px;
    height: 539px;
    position: relative;
    background-size: 740px;
    grid-area: board;
}

#support {
    grid-area: conflict;
    max-width: 720px;
    width: 100%;
}

#handbox {
    grid-area: hand;
    max-width: 720px;
    width: 100%;
}

#monumentbox {
    grid-area: monuments;
    max-width: 720px;
}

#overlay {
    width:  740px;
    height:  539px;
    position: absolute;
    background-size: 740px;
}

.log .point {
    display: inline-block;
}

.hide_overlay #overlay {
    display: none;
}

.show_overlay #overlay {
    background-image: url('img/coordinate_overlay.png');
}

.standard_board {
    background-image: url('img/board.jpg');
}

.alt_board {
    background-image: url('img/alt_board.jpg');
}

.high_saturation .tile_red { filter: saturate(2.0); }
.high_saturation .tile_blue { filter: saturate(2.0); }
.high_saturation .tile_catastrophe { filter: saturate(2.0); }
.high_saturation .tile_green { filter: saturate(2.0); }
.high_saturation .mini_tile_red { filter: saturate(2.0); }
.high_saturation .mini_tile_blue { filter: saturate(2.0); }
.high_saturation .mini_tile_catastrophe { filter: saturate(2.0); }
.high_saturation .mini_tile_green { filter: saturate(2.0); }

#hand {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    flex-wrap: wrap;
}

#hand_leaders {
    display: flex;
    justify-content: space-evenly;
    /*flex-grow: 1;*/
    align-items: center;
    flex-wrap: wrap;
}

#hand_catastrophes {
    display: flex;
    justify-content: space-evenly;
    /*flex-grow: 1;*/
    align-items: center;
}

#hand_tiles {
    display: flex;
    justify-content: space-evenly;
    /*flex-grow: 1;*/
    align-items: center;
    flex-wrap: wrap;
}

.tae_possible_move {
    border: 2px solid blue;
    cursor: pointer;
}

#hand_catastrophes .mini_tile {
    box-shadow: 3px 3px 5px black;
    margin: 3px;
}

#hand_catastrophes .tae_possible_move, #hand_catastrophes .selected {
    margin: 1px;
}

#hand_tiles .mini_tile {
    box-shadow: 3px 3px 5px black;
    margin: 3px;
}

#hand_tiles .tae_possible_move, #hand_tiles .selected {
    margin: 1px;
}

#hand_leaders .mini_leader_token {
    margin: 3px;
}

#hand_leaders .tae_possible_move, #hand_leaders .selected {
    margin: 1px;
}

.points {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#unbuilt_monuments .mini_monument {
    margin: 3px;
}

#unbuilt_monuments .tae_possible_move, #unbuilt_monuments .selected {
    margin: 1px;
}

.my_player_status {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}

.conflict_status {
    display: flex;
    flex-direction: column;
    background-image: url('img/styled_background.jpg');
    background-size: 100% 100%;
    padding: 33px;
    font-family: Papyrus, "Segoe Print", serif;
}

.conflict_sides {
    display: flex;
    justify-content: space-between;
}

.side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.winner {
    background-color: #0080006e;
}

.loser {
    background-color: #ff00006e;
}

.defender {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board_support {
    display: flex;
    flex-wrap: wrap;
}

.hand_support {
    display: flex;
    flex-wrap: wrap;
}

.side_name {
    display: flex;
    justify-content: space-evenly;
}

.flexy {
    display: flex;
    align-items: center;
}

.hidden {
    display: none !important;
}

.point {
    background-image: url("img/hpoints.jpg");
    width: 23px;
    height: 16px;
    background-size: 115px;
    box-shadow: 1px 1px 2px black;
}

.treasure_point { background-position: -0px; }
.blue_point { background-position: -23px; }
.red_point { background-position: -46px; }
.black_point { background-position: -69px; }
.green_point { background-position: -92px; }

#unbuilt_monuments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.monument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.monument_lower {
    background-image: url("img/monuments_lowsat.png");
    height: 210px;
    width: 210px;
    background-size: 1260px;
}

.high_saturation .monument_lower {
    background-image: url("img/monuments.png");
}

.mini_monument {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_monument_lower {
    background-image: url("img/monuments_lowsat.png");
    height: 210px;
    width: 210px;
    background-size: 1260px;
    display: flex;
    justify-content: center;
}

.high_saturation .mini_monument_lower {
    background-image: url("img/monuments.png");
}

.monument_wonder_wonder {
    background-image: url("img/hwonder_tile.png");
    background-size: 330px;
    width: 100%;
    height: 100%;
}

.monument_green_red { 
    background-position: -0px; 
}
.monument_red_blue { 
    background-position: -210px; 
}
.monument_blue_green { 
    background-position: -420px; 
}
.monument_black_green { 
    background-position: -630px; 
}
.monument_black_blue { 
    background-position: -840px; 
}
.monument_black_red { 
    background-position: -1050px; 
}

.building_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.building {
    background-image: url("img/civilization_buildings.png");
    background-size: 200px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px white);
}

.high_saturation .building {
    filter: saturate(1.2) drop-shadow(0px 0px 5px white);
}

.building_black {
   background-position: -0px; 
}

.building_green {
   background-position: -50px; 
}

.building_red {
   background-position: -100px; 
}

.building_blue {
   background-position: -150px; 
}

.rotate_top_left { transform: rotate(180deg); }
.rotate_top_right { transform: rotate(-90deg); }
.rotate_bottom_left { transform: rotate(90deg); }
.invisible { background-image: none; }

.selected {
    height: 80;
    width: 80;
    border: 2px red solid;
}

.space {
    width: 45px;
    height: 45px;
    position:  absolute;
    display: none;
}

.tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
}

.mini_tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 301px;
}

.mini_tile_flipped { background-position: -0 0px; }
.mini_tile_black { background-position: -43px 0px; order: 1}
.mini_tile_catastrophe { background-position: -86px 0px; order: -1}
.mini_tile_green { background-position: -128px 0px; order: 2}
.mini_tile_red { background-position: -172px 0px; order: 3}
.mini_tile_union { background-position: -215px 0px; order: 4}
.mini_tile_blue { background-position: -258px 0px; order: 5}

.leader_token {
    width: 41px;
    height: 41px;
    order: -1;
    border-radius: 50%;
    margin: 2px;
}

.leader_token.tae_possible_move, .leader_token.selected {
    margin: 0px;
}

.pulsing .war_attacker {
    animation: attacker-animation 2s infinite;
}

.pulsing .war_defender {
    animation: defender-animation 2s infinite;
}

.pulsing .leader_token.my_leader {
    animation: pulse-animation 2s infinite;
}

.leader {
    background-image: url('img/hleaders.png');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
}

.mini_leader_token {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    order: -2;
}

.mini_leader {
    background-image: url('img/hleaders.png');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 172px;
    align-self: center;
    justify-self: center;
}

.mini_leader_bull { background-position-x: -0px; }
.mini_leader_urn { background-position-x: -43px; }
.mini_leader_bow { background-position-x: -86px; }
.mini_leader_lion { background-position-x: -129px; }

.mini_leader_black { background-position-y: -0px; }
.mini_leader_blue { background-position-y: -43px; }
.mini_leader_green { background-position-y: -86px; }
.mini_leader_red { background-position-y: -129px; }

.treasure {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.treasure_inner {
    background-color: yellow;
    width: 15px;
    height: 15px;
    box-shadow: 3px 3px 5px black;
}

.leader_strength {
    color: black;
    position: absolute;
    top: 0px;
    min-width: 1em;
    text-align: center;
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
}

.leader_strength_red { color: red; }
.leader_strength_black { color: #3D403F; }
.leader_strength_green { color: green; }
.leader_strength_blue { color: #3090df; }


.hide_strength .leader_strength {
    display: none;
}

.kingdom {
    opacity: 0.5;
    position: absolute;
}

.bright_kingdoms .kingdom {
    opacity: 0.8;
}

.hide_kingdoms #kingdoms {
    display: none;
}

.kingdom_1 { background-color: plum; }
.kingdom_2 { background-color: white; }
.kingdom_3 { background-color: limegreen; }
.kingdom_4 { background-color: orange; }
.kingdom_5 { background-color: cyan; }
.kingdom_6 { background-color: green; }
.kingdom_7 { background-color: salmon; }
.kingdom_8 { background-color: purple; }
.kingdom_9 { background-color: tan; }
.kingdom_10 { background-color: blue; }
.kingdom_11 { background-color: brown; }
.kingdom_12 { background-color: yellow; }
.kingdom_13 { background-color: magenta; }
.kingdom_14 { background-color: black; }
.kingdom_15 { background-color: orangered; }
.kingdom_16 { background-color: midnightblue; }

#tae_progress_back {
    height: 2em;
    margin: 5px;
    background-color: #c20303;
    border: 1px solid black;
}

#tae_progress_bar {
    height: 100%;
    background-color: green;
    width: 100%;
}

#tae_progress_percent {
    text-align: center;
    width: 100%;
    position: absolute;
    padding-top: .5em;
}

#bag_progress {
    flex: 1 1 auto;
}

.mobile_version #bag_progress {
    flex: 1 0 auto;
}

.mobile_version #my_side_bar {
    flex-direction: row;
}

.player_leader_wheel {
    background:
        conic-gradient(
            #ff0004 0,
            #ff0004 25%,
            #3090df 0,
            #3090df 50%,
            #59a14f 0,
            #59a14f 75%,
            #3D403F 0,
            #3D403F 100%
    );
    width: 53px;
    height: 53px;
    border-radius: 50%;
    position: relative;
}

.player_leader_wheel .mini_leader {
    position: absolute;
    top: 5px;
    left: 5px;
}

.log_point {
    display: none;
}

@media screen and (min-width: 1500px) {
    #my_game_area {
        display: grid;
        grid: [row1-start] "board conflict" [row1-end]
              [row2-start] "board hand" [row2-end]
              [row3-start] "board monuments" [row3-end]
              / auto auto;
    }

    #hand {
        flex-direction: column;
        height: 100%;
    }

    #handbox {
        max-width: 250px;
    }

    #monumentbox {
        max-width: 250px;
    }

    #hand_catastrophes {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #hand_tiles .mini_tile {
        margin: 10px;
    }

    #hand_tiles .tae_possible_move, #hand_tiles .selected {
        margin: 8px;
    }

    #support {
        min-width: 400px;
    }

    #board {
        align-self: start;
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0px 0px 0px rgba(0, 0, 255, 1);
    }

    100% {
        box-shadow: 0px 0px 30px rgba(0, 0, 255, .4);
    }
}

@keyframes attacker-animation {
    0% {
        box-shadow: 0px 0px 0px rgba(0, 255, 50, 1);
    }

    100% {
        box-shadow: 0px 0px 30px rgba(0, 255, 50, .4);
    }
}

@keyframes defender-animation {
    0% {
        box-shadow: 0px 0px 0px rgba(255, 0, 0, 1);
    }

    100% {
        box-shadow: 0px 0px 30px rgba(255, 0, 0, .4);
    }

}