/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * TigrisEuphrates implementation : © Joseph Utecht <joseph@utecht.co>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * tigriseuphrates.css
 *
 * TigrisEuphrates stylesheet
 *
 */

/**
 * Overide wiki styling
 */
.wikicontent table td {
    padding: 0px;
    text-align: left;
}

.wikicontent table th {
    padding: 0px;
    text-align: left;
}

.wikicontent ul li {
   list-style-type: disc; 
   list-style-position: inside; 
}

#my_game_area {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#board {
    background-image: url('img/board.jpg');
    width: 740px;
    height: 539px;
    position: relative;
    background-size: 740px;
}

#support {
    width: 80%;
}

#board_center {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hand {
    display: flex;
    justify-content: space-evenly;
}


#hand_leaders {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#hand_tiles {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

#hand_tiles .mini_tile {
    box-shadow: 1px 1px 3px black;
    margin: 1px;
    cursor: pointer;
}

#hand_leaders .mini_leader_token {
    box-shadow: 1px 1px 3px black;
    margin: 1px;
    cursor: pointer;
}

.points {
    display: flex;
    justify-content: space-evenly;
    margin: 1em;
}

#unbuilt_monuments .mini_monument {
    margin: 3px;
    cursor: pointer;
}

.my_player_status {
    display: flex;
    justify-content: space-evenly;
}

.conflict_status {
    display: flex;
    flex-direction: column;
}

.conflict_sides {
    display: flex;
    justify-content: space-between;
}

.side {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.winner {
    background-color: #0080006e;
}

.loser {
    background-color: #ff00006e;
}

.defender {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.board_support {
    display: flex;
    flex-wrap: wrap;
}

.hand_support {
    display: flex;
    flex-wrap: wrap;
}

.side_name {
    display: flex;
    justify-content: space-evenly;
}

.flexy {
    display: flex;
}

.hidden {
    display: none !important;
}

#size_buttons {
    display: flex;
}

#size_buttons .toggle_button {
    padding: 2px;
}

.toggle_button {
    padding: 5px;
    border: 3px outset #9e6464;
    border-radius: 10px;
    background: #ebd5bd;
}

.toggle_button:hover {
    background: #fed3a4;
}

.toggle_button:active {
    background: #b89c7e;
}

.point {
    width: 15px;
    height: 15px;
}

#unbuilt_monuments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
}

.mini_monument {
    opacity: 0.8;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_monument_lower {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_monument_upper {
    width: 15px;
    height: 15px;
}

.monument {
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monument_lower {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerbox {
    width: 720px;
}

.monument_red { background-color: red; }
.monument_black { background-color: black; }
.monument_green { background-color: green; }
.monument_blue { background-color: blue; }

.rotate_top_left { transform: rotate(180deg); }
.rotate_top_right { transform: rotate(-90deg); }
.rotate_bottom_left { transform: rotate(90deg); }

.red_point { background-color: red; }
.black_point { background-color: black; }
.green_point { background-color: green; }
.blue_point { background-color: blue; }
.amulet_point { background-color: yellow; }

.selected {
    height: 80;
    width: 80;
    border: 2px red solid;
}

.space {
    width: 45px;
    height: 45px;
    position:  absolute;
    display: none;
    cursor: pointer;
}

.tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
}

.mini_tile {
    background-image: url('img/tiles.jpg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 301px;
}

.mini_tile_flipped { background-position: -0 0px; }
.mini_tile_black { background-position: -43px 0px; order: 1}
.mini_tile_catastrophe { background-position: -86px 0px; order: -1}
.mini_tile_green { background-position: -128px 0px; order: 2}
.mini_tile_red { background-position: -172px 0px; order: 3}
.mini_tile_union { background-position: -215px 0px; order: 4}
.mini_tile_blue { background-position: -258px 0px; order: 5}

.leader_token {
    width: 41px;
    height: 41px;
    background-color: white;
    border-radius: 25px;
    order: -1;
}

.leader {
    background-image: url('img/leaders.png');
    background-repeat: no-repeat;
    align-self: center;
    justify-self: center;
}

.mini_leader_token {
    width: 43px;
    height: 43px;
    background-color: white;
    border-radius: 25px;
    order: -2;
}

.mini_leader {
    background-image: url('img/leaders.png');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
    background-size: 172px;
    align-self: center;
    justify-self: center;
}

.mini_leader_bow { background-position: 0px 0px; }
.mini_leader_goat { background-position: -43px 0px; }
.mini_leader_lion { background-position: -86px 0px; }
.mini_leader_urn { background-position: -128px 0px; }

.leader_black { }
.leader_red { filter: invert(45%) sepia(49%) saturate(7497%) hue-rotate(352deg) brightness(99%) contrast(105%); }
.leader_green { filter: invert(44%) sepia(75%) saturate(364%) hue-rotate(71deg) brightness(93%) contrast(87%); }
.leader_blue { filter: invert(8%) sepia(100%) saturate(7343%) hue-rotate(248deg) brightness(104%) contrast(144%); }

.amulet {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.amulet_inner {
    background-color: yellow;
    width: 15px;
    height: 15px;
}

.kingdom {
    opacity: 0.8;
    position: absolute;
}

.kingdom_1 { background-color: plum; }
.kingdom_2 { background-color: cyan; }
.kingdom_3 { background-color: yellow; }
.kingdom_4 { background-color: red; }
.kingdom_5 { background-color: brown; }
.kingdom_6 { background-color: green; }
.kingdom_7 { background-color: orange; }
.kingdom_8 { background-color: purple; }
.kingdom_9 { background-color: tan; }
.kingdom_10 { background-color: blue; }
.kingdom_11 { background-color: white; }
.kingdom_12 { background-color: limegreen; }
.kingdom_13 { background-color: magenta; }
.kingdom_14 { background-color: black; }
.kingdom_15 { background-color: salmon; }
.kingdom_16 { background-color: midnightblue; }

@media screen and (min-width: 1300px){
    #my_game_area {
        flex-wrap: wrap;
    }

    #board {
        order: 2;
        background-image: url('img/board@2x.jpg');
    }

    #support {
        order: 1;
        width: 80%;
        max-width: 720px;
    }

    #handbox {
        order: 3;
    }

    #monumentbox {
        order: 4;
        flex-direction: column;
    }

    #hand {
        flex-direction: column;
        width: 140px;
        height: 100%;
    }

    #unbuilt_monuments {
    }


    .playerbox {
        flex: 1 1 150px;
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hand_leaders {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    #hand_tiles {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}
